/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

* {
  /* padding inkluderes i bredden med border-box */
  box-sizing: border-box;
}

/* Farve- og fontvariabler */
:root {
  /* farver */
  --dark: #190604;
  --white: #ffffff;
  --green: #007534;

  /* fonte */
  --broedtekst: Helvetica, sans-serif;

  /* whitespace */
  --whitespace: 2rem;
}

/* Her bruges en variabel: --blue */
body {
  font-family: var(--broedtekst);
  color: var(--white);
  margin: 0;
  padding: 0;
}

/* Typografisk */
h2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -450%);
  color: white;
  background-color: green;
  opacity: 0.8;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
  white-space: nowrap;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

div.tekstbox p {
  font-family: var(--broedtekst);
  color: var(--dark);
  margin: var(--whitespace) var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bolder;
  max-width: 35ch;
  text-align: left;
  position: absolute;
  transform: translate(-5%, -115%);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* Navigation and footer */
nav {
  background-image: url("../images/baggrund.png");
  padding: 35px 0;
  text-align: left;
  width: 100%;
}

nav ul li{
  margin-right: 4ch;
}

nav a {
  color: var(--dark);
  font-size: 50px;
  padding: 30px;
  text-decoration: none;
}

/* Footer */
* {
  box-sizing: border-box;
}

footer {
  margin-top: 30px;
  background-image: url("../images/footer.baggrund.png");
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
}

.footer {
  padding: 5px 6px;
  float: left;
  width: 99.99999%;
}

div.box {
  background-color: white;
  opacity: 70%;
  border: 15px solid white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 50%;
}

div.box p{
  color: var(--dark);
  font-family: var(--broedtekst);
  font-weight: bolder;
  font-size: 25px;
}

/* Sections (højde == skærmhøjde) */
section {
  width: 100%;
}

/* Billeder */
img {
max-width: 100%;
}

.logo{
  width: 50px;
  position: absolute;
  margin-left: 140px;
  margin-top: -60px;
}

.søg{
  width: 10%;
  position: absolute;
  margin-left: 260px;
  margin-top: -50px;
}

 .kurv{
  width: 15%;
  position: absolute;
  margin-left: 300px;
  margin-top: -45px;
}

.arrow{
  width: 110px;
  height: 70px;
  margin: auto;
}

.insta{
  width: 50%;
  margin: auto;
}

.facebook{
  width: 50%;
  margin: auto;
}

div.facebook img{
  margin-top: 30px;
  margin-bottom: 20px;
}

.ejdagen{
  width: 90%;
  margin: auto;
}

.tekstbox{
  width: 90%;
  margin: auto;
}

div.tekstbox img{
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 6px;
  float: left;
  width: 49.99999%;
}

div.gallery img {
  width: 98%;
  height: auto;
}

/* MOBILE FIRST (via Flexbox) */

/* 1. Mobile enheder (begynd her) */
@media only screen and (max-width: 400px) {
  /* Menu */
  .startside{
    display: none;
  }

  .tekstboxhidden{
    display: none;
  }
  /* vis burger */
  #showMenu {
    display: block;
  }

  /* skjul menu og burgermenu */
  #menu,
  #burgerMenu {
    display: none;
  }

  #wrap {
    max-width: 400px; /* Holder designet til max 700px */
    margin:auto;
  }
  /*
  Husk at man skal kunne navigere med fingrene:
  1. Knapper
  2. Links
  3. Stor let læsbar font
  4. Burgermenu (evt. med CSS animation)
  */
}

/* 2. Tablets mv. (fortsæt her) */
/*
Research:
* iPad width > 321px
*/
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  /* Flexbox: design efter skitser */
  /*
  Husk, at iPads kan vendes! Lav CSS for både stående og liggende enhed
  */
  #wrap {
    max-width: 1024px; /* Holder designet til max 700px */
    margin:auto;
  }

  /* Menu */
  nav {
    height: 250px;
  }

  li{
    display: inline;
    font-weight: bolder;
    color: var(--white);
    font-size: 1px;
  }

  nav ul li{
    margin-right: 2ch;
    margin-left: 2ch;
  }

  #menu{
    padding: 10px;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    margin-top: 145px;
  }

  #menu a{
    color: var(--white);
  }

  .startside{
    width: 20%;
  }

  .logo{
    width: 10%;
    margin-left: 440px;
    margin-top: -100px;
  }

  .kurv{
    width: 12%;
    margin-left: 850px;
    margin-top: -60px;
  }

  .søg{
    width: 6.5%;
    margin-left: 760px;
    margin-top: -60px;
  }

  /* vis burger */
  #showMenu {
    display: none;
  }

  /* skjul menu og burgermenu */
  #menu,
  #burgerMenu {
    display: block;
  }

  /* body */
  .arrow{
    display: none;
  }

  .tekstbox{
    display: none;
  }

  div.tekstboxhidden p {
    font-family: var(--broedtekst);
    color: var(--dark);
    margin: var(--whitespace) var(--whitespace);
    padding-bottom: var(--whitespace);
    font-size: 3em;
    line-height: 1.7;
    font-weight: bolder;
    max-width: 35ch;
    text-align: left;
    position: absolute;
    transform: translate(0%, -115%);
  }

  .tekstboxhidden{
    width: 100%;
    margin: auto;
    padding: 50px;
  }

  h2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    background-color: green;
    opacity: 0.8;
    padding: 40px;
    font-size: 5em;
    font-weight: bolder;
    white-space: nowrap;
  }

  /* footer */
  .footer {
    padding: 5px 6px;
    float: left;
    width: 33.33333%;
  }

  div.box {
    background-color: white;
    opacity: 70%;
    border: 15px solid white;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    width: 90%;
    height: 300px;
  }

  footer{
    height: 380px;
  }

  /* Forklaring:
  main > * betyder: for alle "børn" af main { ... css her  ...}
  Se disse tutorials

  @url: https://flexbox-pattern-cheatsheet.kevinpowell.co/
  @url: https://www.w3schools.com/cssref/css3_pr_flex.asp
   */
/*  main > * {
    flex: 1 1 32ch;
  }*/
  /*
  Forkortelsen 'flex' kan sætte flere værdier på en gang.
  Mere om anvendelsen af flex her:
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

  Fx: Three values: flex-grow | flex-shrink | flex-basis
  flex: 2 2 10%;

  Alternativt bruges box sizing, se
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */

}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 1920px) {
  body {
    background-color: var(--dark);
    color: var(--white);
  }

  /* Skjuler burgeren */
  #showMenu {
    display: none;
  }

  /* Viser menuen */
  #menu {
    display: block;
  }
  #menu li {
    display: inline;
  }

  /* Vises centreret i vinduet */
  #wrap {
    max-width: 80%;
    margin:auto;
  }
  /* fuld bredde til øverste section: ; */
  #aaa {
    flex:100%;
  }
}
