/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Overlock+SC&display=swap');

* {
  /* padding inkluderes i bredden med border-box */
  box-sizing: border-box;
}

/* Farve- og fontvariabler */
:root {
  /* farver */
  --dark: #190604;
  --white: #ffffff;
  --green: #007534;

  /* fonte */
  --broedtekst: 'Dosis', sans-serif;
  --tekst: 'Nunito', sans-serif;

  /* whitespace */
  --whitespace: 2rem;
}

/* Her bruges en variabel: --blue */
body {
  margin: 0;
  padding: 0;
}

/* Typografisk */

h1 {
  font-size: 1.5rem;
  padding: 15px;
  padding-top: 25px;
  text-align: center;
  color: var(--dark);
  font-weight: bolder;
}

div.tekstbox p {
  font-family: var(--broedtekst);
  color: var(--dark);
  margin: var(--whitespace) var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bolder;
  max-width: 35ch;
  text-align: left;
  position: absolute;
  transform: translate(-5%, -115%);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* Navigation */
nav {
  background-image: url("../images/baggrund.png");
  padding: 35px 0;
  text-align: left;
  width: 100%;
}

nav ul li{
  margin-right: 4ch;
}

nav a {
  color: var(--dark);
  font-size: 50px;
  padding: 30px;
  text-decoration: none;
}

/* Footer */
* {
  box-sizing: border-box;
}

footer {
  margin-top: 30px;
  background-image: url("../images/footer.baggrund.png");
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
}

.footer {
  padding: 5px 6px;
  float: left;
  width: 99.99999%;
}

div.box {
  background-color: white;
  opacity: 70%;
  border: 15px solid white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 50%;
}

div.box p{
  color: var(--dark);
  font-family: var(--broedtekst);
  font-weight: bolder;
  font-size: 25px;
}

/* Sections (højde == skærmhøjde) */
section {
  width: 100%;
}

/* Billeder */
img {
max-width: 100%;
}

.logo{
  width: 50px;
  position: absolute;
  margin-left: 140px;
  margin-top: -60px;
}

.logo a{
  padding: 0;
  margin-left: 30px;
}

.søg{
  width: 10%;
  position: absolute;
  margin-left: 260px;
  margin-top: -50px;
}

 .kurv{
  width: 15%;
  position: absolute;
  margin-left: 300px;
  margin-top: -45px;
}

.filter{
  width: 15%;
  padding: 10px;
  padding-top: 20px;
  margin: auto;
}

.julekalender img{
  width: 80%;
  margin: auto;
  border: 2px solid black;
  display: block;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 3px 5px;
  float: left;
  width: 49.99999%;
}

div.gallery img {
  width: 100%;
  padding: 5px;
}

/* MOBILE FIRST (via Flexbox) */

/* 1. Mobile enheder (begynd her) */
@media only screen and (max-width: 400px) {
  /* Menu */
  .startside{
    display: none;
  }

  .tekstbox{
    display: none;
  }
  /* vis burger */
  #showMenu {
    display: block;
  }

  /* skjul menu og burgermenu */
  #menu,
  #burgerMenu {
    display: none;
  }

  #wrap {
    max-width: 700px; /* Holder designet til max 700px */
    margin:auto;
  }

}

/* 2. Tablets mv. (fortsæt her) */
/*
Research:
* iPad width > 321px
*/
@media only screen and (min-width: 401px) {
  body {
    margin: 0;
  }
  /* Flexbox: design efter skitser */
  /*
  Husk, at iPads kan vendes! Lav CSS for både stående og liggende enhed
  */
  #wrap {
    max-width: 1024px;
    margin:auto;
  }

  /* Menu */
  nav {
    height: 250px;
  }

  li{
    display: inline;
    font-weight: bolder;
    color: var(--white);
    font-size: 1px;
  }

  nav ul li{
    margin-right: 2ch;
    margin-left: 2ch;
  }

  #menu{
    padding: 10px;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    margin-top: 145px;
  }

  #menu a{
    color: var(--white);
    font-family: var(--tekst);
  }

  .startside{
    width: 20%;
  }

  .logo{
    width: 10%;
    margin-left: 440px;
    margin-top: -100px;
  }

  .kurv{
    width: 12%;
    margin-left: 850px;
    margin-top: -60px;
  }

  .søg{
    width: 6.5%;
    margin-left: 760px;
    margin-top: -60px;
  }

/*Typografi*/
h1 {
  font-size: 3rem;
  padding: 15px;
  padding-top: 25px;
  text-align: center;
  color: var(--dark);
  font-weight: bolder;
}

div.tekstbox p {
  font-family: var(--broedtekst);
  color: var(--dark);
  margin: var(--whitespace) var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 2.2em;
  line-height: 1.7;
  font-weight: bolder;
  max-width: 45ch;
  text-align: center;
  position: absolute;
  transform: translate(0%, -150%);
}

.tekstbox{
  width: 100%;
  margin: auto;
  padding: 50px;
}

h2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 840%);
  color: black;
  padding: 40px;
  font-size: 4em;
  font-weight: bolder;
  white-space: nowrap;
}

/*Body*/
  .filter{
    width: 100%;
    text-align: right;
    padding: 20px;
  }

  .julekalender{
    width: 80%;
    margin: auto;
  }

  main{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }

  main > .filter_tablet{
    flex: 2;
  }

  /*Webshop*/
  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 3px 5px;
    float: left;
    width: 33.33333%;
  }

  div.gallery img {
    width: 100%;
    padding: 5px;
  }

  /* untapped tablet */
  * {
    box-sizing: border-box;
  }

  .untapped_tablet {
    padding: 3px 5px;
    float: left;
    width: 49.99999%;
  }

  .untapped_tablet .untapped h1{
    text-align: left;
  }

  .untapped_tablet .untapped .anmeldelser{
    margin-top: 100px;
  }

  .untapped_tablet .untapped{
    padding: 20px;
  }


  /* vis burger */
  #showMenu {
    display: none;
  }

  /* skjul menu og burgermenu */
  #menu,
  #burgerMenu {
    display: block;
  }

  /* footer */
  .footer {
    padding: 5px 6px;
    float: left;
    width: 33.33333%;
  }

  div.box {
    background-color: white;
    opacity: 70%;
    border: 15px solid white;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    width: 90%;
    height: 300px;
  }

  footer{
    height: 380px;
  }

}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 1025px) {

  /* Skjuler burgeren */
  #showMenu {
    display: none;
  }

  /* Vises centreret i vinduet */
  #wrap {
    max-width: 1925px;
    margin:auto;
  }

  /* Viser menuen */
  nav {
    width: 100%;
    height: 191px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  li{
    display: inline;
    font-weight: bolder;
    color: var(--white);
  }

  nav ul li{
    margin-right: 2ch;
    margin-left: 2ch;
  }

  #menu{
    display: block;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    margin-top: 120px;
    text-align: center;
    letter-spacing: 2px;
  }

  #menu a{
    color: var(--white);
    font-family: var(--tekst);
    font-size: 15px;
    float: left;
    width: 33%;
    padding: 0;
  }

  .startside{
    width: 5%;
  }

  .logo{
    width: 7%;
    margin-left: 550px;
    margin-top: -65px;
  }

  .kurv{
    width: 5%;
    margin-left: 1100px;
    margin-top: -20px;
  }

  .søg{
    width: 2.8%;
    margin-left: 1050px;
    margin-top: -20px;
  }
  /* footer */
  .footer {
    padding: 5px 6px;
    float: left;
    width: 33.33333%;
  }

  div.box {
    background-color: white;
    opacity: 70%;
    border: 15px solid white;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    width: 90%;
    height: 300px;
  }

  footer{
    clear: both;
    height: 380px;
  }

  /* billeder */
  .filter img{
    width: 3%;
  }

  .julekalender img{
    width: 50%;
    cursor: pointer;
  }

  div.gallery img{
    width: 90%;
    padding: 20px;
    cursor: pointer;
  }

  .responsive{
    text-align: center;
  }

  /* tekstbox */
  div.tekstbox p {
    font-family: var(--broedtekst);
    color: var(--dark);
    margin: var(--whitespace) var(--whitespace);
    padding-bottom: var(--whitespace);
    font-size: 2.2em;
    line-height: 1.7;
    font-weight: bolder;
    max-width: 45ch;
    text-align: left;
    position: absolute;
    transform: translate(15%, -160%);
  }

  .tekstbox{
    width: 100%;
    text-align: center;
    padding: 50px;
  }

  h2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, 1005%);
    color: black;
    padding: 40px;
    font-size: 4em;
    font-weight: bolder;
    white-space: nowrap;
  }
}
